<div class="block">
  <h3 style="margin:0 0 15px 0;">Топ-5 расходов
    <button id="top5-btn" class="btn-hide" onclick="toggle('top5-w','top5-wo','top5-st','top5-btn','h5')">Скрыть переводы</button>
  </h3>
  <div id="top5-w">
    <table style="margin-top:10px;">
      <tr>
        <th>Дата</th>
        <th style="width:110px;">Сумма</th>
        <th>Категория</th>
      </tr>
    {% for tx in top5_with %}
      <tr>
        <td>{{ tx.date }}</td>
        <td class="sum">{{ tx.amount }}</td>
        <td>{{ tx.category }}</td>
      </tr>
      {% endfor %}
    </table>
    <span id="top5-st" class="small sum"></span>
  </div>
  <div id="top5-wo" class="hidden">
    <table style="margin-top:10px;"><tr><th>Дата</th><th>Сумма</th><th>Категория</th></tr>
    {% for tx in top5_without %}<tr><td>{{ tx.date }}</td><td class="sum">{{ tx.amount }}</td><td>{{ tx.category }}</td></tr>{% endfor %}</table>
  </div>
</div>