<div class="block">
  <h3 style="margin:0 0 15px 0;">Топ-7 категорий
    <button id="top7-btn" class="btn-hide" onclick="toggle('top7-w','top7-wo','top7-st','top7-btn','h7')">Скрыть переводы</button>
  </h3>
  <div id="top7-w">
    <table style="margin-top:10px;">
      <tr>
        <th>Категория</th>
        <th style="width:110px;">Сумма</th>
      </tr>
    {% for item in top7_with %}<tr><td>{{ item.category }}</td><td class="sum">{{ item.amount }}</td></tr>{% endfor %}</table>
    <span id="top7-st" class="small sum"></span>
  </div>
  <div id="top7-wo" class="hidden">
    <table style="margin-top:10px;"><tr><th>Категория</th><th>Сумма</th></tr>
    {% for item in top7_without %}<tr><td>{{ item.category }}</td><td class="sum">{{ item.amount }}</td></tr>{% endfor %}</table>
  </div>
</div>